body {
    margin-top: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 20px;
}

p {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-weight: 200;
}

#chart {
    display: flex;
    justify-content: center;
}



.grid line {
    stroke: #D0D0D0;
    stroke-dasharray: 5, 5;
    opacity: 0.5;
}
